.footer{
    align-content: center;
    padding: 10px;
    background:rgba(59,69,75,0.9);
    font-size: 14px;
}

.footer a{
    color: lime;
    text-decoration: lime;
}

.footer a:visited{
    color: lime;
    text-decoration: lime;
}