.App {
  text-align: center;
  height: 100%;
}

.App-wrapper {
  background-color: #282c34;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Main-Layout{
  min-height: 90vh;
}