.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background:rgba(48,162,232,0.5);
    position: sticky;
    z-index: 9;
    left: 0;
    top: 0;
    margin-bottom: 20px;
}
.links{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin-left: 20px;
}

.link {
    color: white;
    text-decoration: none;
    transition: .2s opacity;
    padding-right: 15px;
}

.link:visited {
    color: white;
}

.link:hover {
    opacity: .7;
}