body{
    background-color: cadetblue;
}
h1 {
    color: #FFFF00;
    font-family: sans-serif;
}

/*---------------auth-container---------------------*/
.form-container{
    width: 500px;
    margin: 0 auto;
}
h1.form-title{
    text-align: center;
}

.auth-form {
    display: flex;
    flex-direction: column;

}

.auth-input{
    margin: 5px auto;
    color: darkolivegreen;
    background-color:#FFFF00 ;
    border-radius: 50%;
    height: 30px;
    border-bottom-color: aliceblue;
}
.b-enter{
    margin: 15px auto;
    background-color:#FFFF00 ;
    border-radius: 8px;
    border:  2px black double;
}
.email{
    font-size: large;
}
.password{

}