html,
*{
    box-sizing: border-box;
}
body {
    height: 100%;
    position: relative;
    background-color: rgba(232, 206, 171, 0.71);
    background-image: url("https://images.unsplash.com/photo-1634336676521-917b12acbbd6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80");
    wrap-option: nowrap;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;

}

.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}
.header {
    max-height: 20%;
    /*max-height: 120px;*/
    display: flex;
    align-items: center;
    padding: 10px;
    /*background:rgba(48,162,232,0.5);*/
    /*background: rgb(48, 162, 232);*/
    background-image: url("https://images.unsplash.com/photo-1633885277799-77ba018f8f1f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1460&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    position: sticky;
    z-index: 9;
    left: 0;
    top: 0;
    margin-bottom: 20px;
    border-bottom: 3px rgba(171, 171, 11, 0.93) solid;
}

header .main-logo-img{
    border-radius: 50%;
    width: 70px;
    margin-top: 8px;
}
header .header__name{
    color: rgba(171, 171, 11, 0.93);
    align-content: center;
    padding:0 37%;
}
.inner-wrapper{
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
}
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 77%;
    position: sticky;
    top:20%;
    /*top:120px;*/
    height: 75vh;
    padding: 30px;
    border: 3px rgba(171, 171, 11, 0.93) solid;
    color: rgba(171, 171, 11, 0.93);
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://images.unsplash.com/photo-1521729092759-d9995760ac91?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1169&q=80");
}
.main-container__name{
    position: absolute;
    margin-right: 32px;
    /*background-color: #FFFF00;*/
}

.nav-container{
    position: sticky;
    /*top:120px;*/
    height: 75vh;
    padding: 20px 20px;
    width: 20%;
    border: 3px rgba(171, 171, 11, 0.93) solid;
    /*background-color: cornflowerblue;*/
    background-image: url("https://images.unsplash.com/photo-1624871084027-87cd9d1d419e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=387&q=80");
    color: #FFFF00;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-container__menu-list{
    position: sticky;
}
.nav-container__menu-item {
    position: sticky;
}
.nav-container__menu-item_anc-m{
    display: block;
    text-decoration: none;
    font-size: larger;
    color: antiquewhite;
    background-color: rgba(29, 63, 8, 0.1);
    padding: 8px;
}
.main-container__container-bred{
    position: relative;
    margin-top:80px;
    width: 100%;
    height: 55vh;
    overflow-x:hidden ;
}
.main-container__bredheader-b,
.main-container__bredheader-a{
    padding: 2px 10px;
    text-align: center;
    width: 36%;
    border-radius: 20px;
    color: aliceblue;
    position: sticky;
    top:0;
    background-color: rgba(53, 98, 36, 0.94);
}
.main-container__bredheader-b{
    color: antiquewhite;
    background-color: rgba(8, 136, 24, 0.81);
}

.footer{
    margin-top: auto;
    align-content: center;
    padding: 10px;
    background:rgba(59,69,75,0.5);

}
/*----------slide-------------r*/
::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-thumb {
    background: rgba(4, 93, 25, 0.73);
    border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
    background: #1d3f08;
}