.links{
    /*margin-left: auto;*/
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin-left: 20px;

}
.link {
    color: white;
    text-decoration: none;
    transition: .2s opacity;
    padding-right: 15px;
}

.link:visited {
    color: white;
}

.link:hover {
    color: lime;
    opacity: .9;
}