.file{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.danger{
    display: flex;
    color: #d9b1b1;
    width: 300px;
    justify-content: center;
    align-items: center;
}

img{
    padding: 20px;
}